<a href="https://colab.research.google.com/github/Janeth172/EDP1/blob/main/Jacobi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**METÓDO ITERATIVO DE JACOBI**

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

pd.set_option("display.precision", 8)
pd.set_option("display.width", 140)

# Funcion de jacobi
def jacobi(A, b, x0, TOL, N, nombres):
    A = np.array(A, dtype=float)
    b = np.array(b, dtype=float).reshape(-1)
    x_old = np.array(x0, dtype=float).reshape(-1)
    n = A.shape[0]

    if nombres is None:
        nombres = [f"x{i+1}" for i in range(n)]

    historial = []
    exito = False

# Iteración 0
    fila0 = {"iter": 0}
    for name, val in zip(nombres, x_old):
        fila0[name] = val
    historial.append(fila0)

# Paso 1
    k = 1

# Paso 2
    while k <= N:
        x_new = np.zeros_like(x_old)

# Paso 3
        for i in range(n):
            aii = A[i, i]
            suma = sum(A[i, j]*x_old[j] for j in range(n) if j != i)
            x_new[i] = (b[i] - suma) / aii

# Paso 4
        err_inf = np.linalg.norm(x_new - x_old, ord=np.inf)

        fila = {"iter": k}
        for name, val in zip(nombres, x_new):
            fila[name] = val
        fila["err_inf"] = err_inf
        historial.append(fila)

        if err_inf < TOL:
            exito = True
            x_final = x_new.copy()
            break

# Paso 5
        k += 1

# Paso 6
        x_old = x_new

    if not exito:
        x_final = x_old

# Se construye la tabla
    cols = ["iter"] + nombres
    tabla = pd.DataFrame(historial)[cols]

    return x_final, tabla, exito


# Se escribe aqui el sistema

A = [[4, -1, -1, 0],
     [1, -4, 0, 1],
     [1, 0, -4, 1],
     [0, 1, 1, -4]]

#   si en la diagonal hay ceros, es necesario
#   intercambiar reenglones, no debe haber
#   ceros en la diagonal

b = [0, -2/3, -8/9, -14/9]

# Parametros del problema

x0  = [0, 0, 0, 0]
TOL = 1e-10
N   = 100

# Ejecucion de la función Jacobi
x_aprox, tabla, exito = jacobi(A, b, x0, TOL, N, nombres=["A","B","C","D"])

# Imprime la tabla
display(tabla.style.hide(axis="index"))

# Imprime el vector solucion
print("Solución aproximada X=(A, B, C, D):", x_aprox)

Solución aproximada X=(A, B, C, D): [0.19444444 0.36111111 0.41666667 0.58333333]